<div class="row">
  <div class="small-12 small-offset-1 columns">
<h1>Ship It</h1>
  <%= link_to 'Submit Project', new_post_path %>
    <% @posts.each do |post| %>
      <div class='row'>
        <div class="small-10 columns">
          <ul>
            <div class='row'>
              <div class="small-8 small-offset-2 columns">
                <h3><li><%= link_to post.name, post_path(post) %></li></h3>
              </div>
            </div>
          </ul>
        </div>
    <% end %>
  </div>
</div>
